{% extends "base.html" %}
{% block title %}Collection{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>collection</h1>
    <h2>data</h2>
{% for item in data %}
    <ul>
{% for key, value in item.iteritems() %}
      <li>{{ key|e }}: {{ value|e }}</li>
{% endfor %}
    </ul>
{% endfor %}
    <h2>links</h2>
    <ul>
{% for key, value in links.iteritems() %}
      <li>{{ key|e }}: <a href="{{ value|e }}" rel="{{ key|e }}">{{ value|e }}</a></li>
{% endfor %}
    </ul>
{% endblock %}
