{% extends "base.html" %}
{% block title %}Resource{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Resource</h1>
    <ul>
{% for key, value in data|dictsort %}
      <li>{{ key|e }}: <a href="{{ value|e }}">{{ value|e }}</a></li>
{% endfor %}
    </ul>
    <h2>links</h2>
    <ul>
{% for key, value in links.iteritems() %}
      <li>{{ key|e }}: <a href="{{ value|e }}" rel="{{ key|e }}">{{ value|e }}</a></li>
{% endfor %}
    </ul>
{% endblock %}
